#questions {
    background-color: aqua;
    margin: auto;
    
}

#buttons {
    margin: auto;
}

#header {
    margin: auto;
}

#display {
    margin: auto;
}

#wrapper {
    margin: auto;
}

body {
    background-color:palevioletred ;
}
