#questions {
    background-color: lightblue;
    margin: auto;
    width: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#buttons {
    margin: auto;
}

#header {
    margin: auto;
    font-family: fantasy;
    font-weight: bolder;
    
}

#display {
    margin: auto;
}

#wrapper {
    margin: auto;
}


body {
    background: url("../images/test2.jpg");
    margin: auto;
    background-size: cover;
        
    }

#submit {
    margin: auto;
    width: 250px;
    margin-left: 150px;
}
